* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edeef0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.44;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

.results {
  display: grid;
  grid-auto-flow: column;
}

.results-items {
  display: inline-block;
  border-right: 1px solid #a5a6a7;
  padding: 0.3rem 0.75rem;
  background-color: #ffffff;
}

.result-link {
  color: rgb(72, 73, 74);
}

.result-time {
  display: grid;
  grid-auto-flow: column;
  font-size: 11px;
  padding-bottom: 0.25rem;
}

.time {
  padding-right: 0.625rem;
  color: #48494a;
  font-weight: 700;
}

.channel {
  justify-self: end;
  color: #6c6c6f;
}

.result-series {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2px;
  padding-bottom: 2px;
}

.squad span {
  font-size: 11px;
  font-weight: 700;
  color: #1d1e1f;
}

.squad img {
  width: 16px;
  vertical-align: middle;
}

.games {
  justify-self: end;
  font-size: 10px;
  font-weight: 400;
  color: #a5a6a7;
}

/* End of Header */

/* Nav */
nav {
  background-color: #16181a;
  border-bottom: 1px solid #393c40;
  display: flex;
  align-items: stretch;
}

.logo {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0.5rem;
}

.navigation {
  padding: 0 0.5rem;
  border-left: 1px solid #393c40;
  display: flex;
  flex: auto;
  align-items: center;
}

.nav-item {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0.5rem;
}

.navigation h6 {
  margin: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #e4e8ed;
  text-transform: uppercase;
}

.search {
  margin-right: 0.5rem;
  width: 110px;
  max-width: 200px;
  border-left: none;
  margin-left: auto;
  padding: 0;
}

.search-form {
  font-size: 13px;
  width: 100%;
  position: relative;
}

.input-search {
  background-color: #585d63;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  padding: 3px 29px 3px 10px;
  color: #ffffff;
  width: 100%;
  height: 31px;
  margin: auto;
  outline: none;
}

.btn-search {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  top: 0;
  width: 29px;
  height: 31px;
  padding: 5px;
  cursor: pointer;
}

.btn-search svg {
  fill: #9ba1a6;
  height: auto;
}

.sign-in {
  flex: 0 0 auto;
}

.sign-in a {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.15rem;
  background-color: #f0f2f5;
  color: #585d63;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.sign-in a:hover {
  background-color: #e4e8ed;
  color: #393c40;
}

.sign-in a:active {
  background-color: #f9f9fb;
  color: #7b8187;
}

/* End of Nav */

/* MAIN */

.main {
  padding: 1rem;
  max-width: 82rem;
  margin: auto;
}

.top-section {
  padding: 0.5rem 1rem;
  background-color: #212426;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.top-section h5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  margin: 0;
  color: #e4e8ed;
  letter-spacing: 1.26px;
}

.top-section__link {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  margin-left: 0.75rem;
  background-color: #146d23;
  color: #f9f9fb;
  padding: 0.6rem 1rem;
  border-radius: 0.15rem;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.top-section__link:hover {
  background-color: #0b401c;
}

.top-section__link:active {
  background-color: #2da63f;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .main-section {
    grid-template-columns: 1fr;
  }
  .standings,
  .stats {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .main-section {
    grid-template-columns: 3fr 1fr;
  }
  .standings {
    display: none;
  }
}

.standings {
}

.articles {
}

.top-article {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-color: #e4e8ed;
  box-shadow: 0 1px 3px rgba(22, 24, 26, 0.1),
    0 5px 10px -3px rgba(22, 24, 26, 0.05);
  overflow: hidden;
}

.article-link {
  position: absolute;
  top: 0;
  left: 0;
  color: #0d5d82;
  z-index: 1;
}

.article-link picture {
  display: block;
  width: 100%;
  background-color: #e4e8ed;
  height: 200px;
  z-index: 1;
}

.top-image {
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.stats {
}

.content {
  background-color: #fff;
  position: relative;
  margin-top: 180px;
  padding: 15px 10px;
  z-index: 10;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
